<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mangasonline</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="images/open-book.png" />
</head>
<body>
<header>
    <div class="container">
        <a href="/">MOL</a>
        <form method="GET" action="/search">
            <input type="search" name="q" placeholder="Pesquise pelos mangás" />
        </form>
    </div>
</header>
<nav>
<ul>
        <li class="active"><a href="/">TODOS</a>
            <ul>
                <li><a href="/action">Action</a></li>
                <li><a href="/adventure">Adventure</a></li>
                <li><a href="/fantasy">Fantasy</a></li>
                <li><a href="/shonen">Shonen</a></li>
                <li><a href="/supernatural">Supernatural</a></li>
                <li><a href="/drama">Drama</a></li>
                <li><a href="/thriller">Thriller</a></li>
                <li><a href="/comedy">Comedy</a></li>
                <li><a href="/romance">Romance</a></li>
                <li><a href="/SciFi">Sci-Fi</a></li>
                <li><a href="/suspense">Suspense</a></li>
            </ul>
        </li>
        <li><a href="/shonen">SHONEN</a></li>
        <li><a href="/isekai">ISEKAI</a></li>
        <li><a href="/fantasy">FANTASY</a></li>
    </ul>
</nav>